<a href="https://colab.research.google.com/github/itz-kin/OOP-1-2/blob/main/OOP_Concepts_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Activity 3

In [22]:
class Person:
  def __init__(self, std, pre, mid, fin):
    self.__std = std
    self.__pre = pre
    self.__mid = mid
    self.__fin = fin

  def Grade(self):
    return round((self.__pre + self.__mid + self.__fin)/3,2)
 
class Student1(Person):
  pass

std1 = str(input("Input full name of Student 1: "))
pre1 = float(input("Grade for prelims: "))
mid1 = float(input("Grade for midterms: "))
fin1 = float(input("Grade for finals: "))

Student1 = Person(std1, pre1, mid1, fin1)

class Student2(Person):
  pass

std2 = str(input("Input full name of Student 2: "))
pre2 = float(input("Grade for prelims: "))
mid2 = float(input("Grade for midterms: "))
fin2 = float(input("Grade for finals: "))

Student2 = Person(std2, pre2, mid2, fin2)


class Student3(Person):
  pass

std3 = str(input("Input full name of Student 3: "))
pre3 = float(input("Grade for prelims: "))
mid3 = float(input("Grade for midterms: "))
fin3 = float(input("Grade for finals: "))

Student3 = Person(std3, pre3, mid3, fin3)


Name = str(input("Enter student full name (First name Last name):"))
if Name == (std1):
  print("Your average is:", Student1.Grade())
elif Name == (std2):
  print("Your average is:", Student2.Grade())
elif Name == (std3):
  print("Your average is:", Student3.Grade())
else:
 print("There is no student with that name")

Input full name of Student 1: Catherine Lorio
Grade for prelims: 88
Grade for midterms: 92
Grade for finals: 94
Input full name of Student 2: Maricar Madriaga
Grade for prelims: 90
Grade for midterms: 93
Grade for finals: 95
Input full name of Student 3: Nina Dellon
Grade for prelims: 89
Grade for midterms: 93
Grade for finals: 97
Enter student full name (First name Last name):Nina Dellon
Your average is: 93.0

Classes with Multiple Objects

In [ ]:
class Birds:
  def __init__(self,bird_name):
    self.bird_name=bird_name

  def flying_birds(self):
    print(f"{self.bird_name} flies above the sky")

  def non_flying_birds(self):
    print(f"{self.bird_name} is the national bird of the Philippines")

vulture = Birds("Griffon Vulture")
crane = Birds("Common Crane")
emu = Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Griffon Vulture flies above the sky
Common Crane flies above the sky
Emu is the national bird of the Philippines

Encapsulation

In [ ]:
class foo:
  def __init__(self, a, b):
    self.__a=a
    self.__b=b
  
  def add(self):
    return self.__a+self.__b

number=foo(3,4)
number.add()

number.a=7 #7,7 7+4=11
number.add()

7

Encapsulation with Private Attributes

In [ ]:
class Counter:
  def __init__(self):
    self.__current=0

  def increment(self):
    self.__current+=1
  def value(self):
    return self.__current
  def reset(self):
    self.__current=0

num = Counter()

num.increment()     #counter = counter +1
num.increment()
num.increment()

num.counter = 1


num.value()

3

Inheritance

In [ ]:
class Person:
  def __init__(self, firstname, surname):
    self.firstname = firstname
    self.surname = surname

  def printname(self):
    print(self.firstname, self.surname)

person = Person("Kinlie", "de Guzman")
person.printname()

class Teacher(Person):
  pass

person2=Teacher("Maria", "Sayo")
person2.printname()

class Student(Person):
  pass

person3 = Student("Jhoriz", "Aquino")
person3.printname()

Kinlie de Guzman
Maria Sayo
Jhoriz Aquino

Polymorphism

In [ ]:
class RegularPolygon:
  def __init__(self,side):
    self.side = side

class Square(RegularPolygon):
  def area(self):
    return self.side * self.side

class EquilateralTriangle(RegularPolygon):
  def area(self):
    return self.side * self.side * 0.433

object = Square(4)
print(object.area())

object2 = EquilateralTriangle(3)
print(object2.area())

16
3.897